.elements__label {
  height: 80px;
  margin-top: 0;
  padding-left: 21px;
  display: grid;
  grid-template-columns: 220px 22px;
  grid-template-areas: 
  "title like";
  white-space: nowrap;
  text-align: left;
}
