.profile {
  max-width: 880px;
  width: 100%;
  height: 120px;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (max-width: 640px) {
  .profile {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 286px;
    padding-top: 3.75px;
    margin-bottom: 36px;
  }
}