.profile__profession {
  grid-area: profession;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 22px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .profile__profession {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0em;
    margin-left: 25px;
    text-align: center;
  }
}
