.elements__like {
  background-color: #000;
  position: absolute;
  width: 22px;
  height: 19px;
  top: 30px;
  right: 30px;
}

.elements__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.elements__like:active {
  background-color: #000;
}

