.elements__like {
  grid-area: like;
  background-image: url('../../../images/Vector-1.svg');
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  align-self: center;
}

.elements__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.elements__like:active {
  background-image: url('../../../images/Union.svg');
}

