.popup__input-text {
  width: 358px;
  height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  padding-bottom: 13px;
  vertical-align: top;
  box-sizing: border-box;
  border-top: none;
  border-right: none;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  border-left: none; 
  color: #000000;
}

@media screen and (max-width: 500px) {
  .popup__input-text {
    width: 238px;
  }
}